* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/fondo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Readex Pro', sans-serif;
}

.pago {
    width: 33%;
    background: #fff;
    margin: 35px auto;
    border-radius:15px;
}

.pago  img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.pago .main {
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
}
.pago .main h1 {
    margin-bottom: 30px;
    color: #1f2f56;
    font-size: 31px;
    font-weight: 800;
    margin-top: 30px;
}

.pago .main .descripcion {
    font-size: 15px;
    font-weight: 400;
    color: #616c88;
    width: 70%;
    text-align: center;
    margin-bottom: 25px;
    line-height: 25px;
}

.pago .main .plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dcd8d8;
    padding: 15px;
    border-radius: 10px;
    width: 85%;
    margin-bottom: 20px;
}

.pago .main .plan a {
   color: #0066cc; 
   margin-right: 20px;
}

.pago .main .plan a:hover {
    opacity: .5;
    margin-right: 20px;
 }

.pago .main .plan .costo {
    width: 80%;
}

.pago .main .plan .costo {
    display: flex;
    width: 70%;
}

.pago .main .plan .costo img {
    width: 50px;
    margin-right: 20px;
}

.pago .main .plan .costo .anio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pago .main .plan .costo .anio h2 {
    font-size: 16px;
    color: #1f2f56;
}

.pago .main .plan .costo .anio p {
    color: #616c88;
}

.pago .main .btn {
    padding: 15px;
    width: 85%;
    border-radius: 10px;
    border: 1px solid transparent;
    background: #3829e0;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}
.pago .main .btn.order:hover {
    opacity: .8;
}

.pago .main .btn.cancel {
    background: #fff;
    color: #616c88;
    font-weight: 800;
}

.pago .main .btn.cancel:hover {
    color: #1f2f56;
}